SECRET_KEY=django-stripe

# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

BACKEND_DOMAIN=http://127.0.0.1:8000
PAYMENT_SUCCESS_URL=http://127.0.0.1:8000/success/
PAYMENT_CANCEL_URL=http://127.0.0.1:8000/cancel/
STRIPE_WEBHOOK_SECRET=